language: node_js
node_js:
  - "12"

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

cache:
  directories:
     - ./node_modules

install:
  - npm install

script:
  - sh build.sh
  - npm run build --prod
  - npm run scully -- --scanRoutes
