<article class="content" *ngIf="recipe">
  <figure class="post-feature-image" *ngIf="recipe.image && recipe.image[0]">
    <img src="{{'https://api.flotiq.com/image/966x406/' + recipe.image[0].id }}.{{recipe.image[0].extension}}" alt="{{ recipe.name }}">
  </figure>
  <section class="post-full-content">
    <h1 class="content-title">
      {{ recipe.name }}
    </h1>
    <h4>
      <div>Servings: {{ recipe.servings }} meals</div>
      <div>Cooking time: {{ recipe.cookingTime }} minutes</div>
    </h4>
    <hr>
    <section class="content-body">
      <div [innerHTML]="recipe.description"></div>
    </section>
    <h2 class="content-title">Ingredients</h2>
    <section class="content-body">

      <label class="recipe-ingredients" *ngFor="let ingredient of recipe.ingredients">
        <span>
          <strong> {{ ingredient.product }} </strong>
          ( {{ ingredient.amount }} {{ ingredient.unit }})
        </span>
        <input type="checkbox"></label>
      <p></p>
    </section>
    <h2 class="content-title">Steps</h2>
    <section class="content-body" *ngIf="recipe.steps && recipe.steps.length" >
      <div class="recipe-step"  *ngFor="let step of recipe.steps; let i = index">
        <div class="recipe-step-index">
          <div>{{ i + 1 }}</div>
        </div>
        <div class="recipe-step-data">
          <p>
            {{ step.step }}
          </p>
          <img *ngIf="step.image" src="{{ 'https://api.flotiq.com/image/620x414/' + step.image[0].id }}.{{step.image[0].extension}}" alt="{{ step.step }}">
        </div>
      </div>
    </section>
  </section>
</article>

