<header class="site-head">
  <div class="container">
    <div class="site-mast">
      <div class="site-mast-left">
        <a aria-current="page" class="" href="/">
          <img class="site-logo" src="assets/images/logo.png" alt="Recipes with Flotiq.com">
        </a>
      </div>
      <div class="site-mast-right">
        <a href="https://twitter.com/flotiq" class="site-nav-item" target="_blank"
           rel="noopener noreferrer">
          <img class="site-nav-icon" src="assets/icons/twitter.svg" alt="Twitter">
        </a>
        <a href="https://www.facebook.com/Flotiq-104200727751200/" class="site-nav-item"
           target="_blank" rel="noopener noreferrer">
          <img class="site-nav-icon" src="assets/icons/facebook.svg" alt="Facebook">
        </a>
      </div>
    </div>
    <div class="site-banner" *ngIf="isHome">
      <h1 class="site-banner-title">Bon Apetit!</h1>
      <p class="site-banner-desc">Recipes with Flotiq</p>
    </div>
    <nav class="site-nav">
      <div class="site-nav-left"></div>
      <div class="site-nav-right"><a class="site-nav-button" href="/about">About</a></div>
    </nav>
  </div>
</header>

<main class="site-main">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>

<div class="viewport-bottom">
  <footer class="site-foot">
    <div class="site-foot-nav container">
      <div class="site-foot-nav-left"><a aria-current="page" class="" href="/">Bon Apetit!</a> ©
        2020 — Published with <a class="site-foot-nav-item" href="https://scully.io/" target="_blank"
                                 rel="noopener noreferrer">Scully</a>
      </div>
      <div class="site-foot-nav-right">
        <a href="https://flotiq.com">Adapted to Flotiq.com</a>
      </div>
    </div>
  </footer>
</div>
