<section class="post-feed">
  <div *ngFor="let recipe of recipes">

    <a class="post-card" href="recipe/{{recipe.slug}}">
      <header class="post-card-header">
        <div class="post-card-image" *ngIf="recipe.image && recipe.image[0]"
             style="background-image: url('{{'https://api.flotiq.com/image/286x180/' + recipe.image[0].id}}.{{recipe.image[0].extension}}');">
        </div>
        <h2 class="post-card-title">{{ recipe.name }}</h2></header>
      <section class="post-card-tags">
        <div>
          <img class="post-card-tag-icon" alt="Servings" src="assets/images/user-solid.svg">
          {{ recipe.servings }}
        </div>
        <div>
          <img class="post-card-tag-icon" alt="Cooking time" src="assets/images/clock-regular.svg">
          {{ recipe.cookingTime}}
        </div>
      </section>
      <footer class="post-card-footer">
        <div class="post-card-footer-left"></div>
        <div class="post-card-footer-right"></div>
      </footer>
    </a>
  </div>
</section>
<section>
<nav class="pagination" *ngIf="totalPages > 1">
  <ul class="pagination justify-content-center">
    <li class="page-item" [ngClass]="{ 'disabled': page === 1 }">
      <a routerLink="/{{page - 1}}" class="page-link">Previous</a>
    </li>
    <li class="page-item" *ngFor="let pageNumber of [].constructor(totalPages); let i = index"
        [ngClass]="{ 'active': page === i+1 }" >
      <a routerLink="/{{i + 1}}" class="page-link">{{i + 1}}</a>
    </li>
    <li class="page-item" [ngClass]="{ 'disabled': page === totalPages }">
      <a routerLink="/{{page + 1}}" class="page-link">Next</a>
    </li>
  </ul>
</nav>
</section>
